@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevent layout shift caused by the scrollbar */
html {
  scrollbar-gutter: auto; /* Reserves space for the scrollbar */
}

/* Ensure content width remains consistent */
body {
  overflow: overlay; /* Scrollbar overlays instead of affecting layout */
}



.disappearing-element {
  transition: opacity 0.5s ease;
  opacity: 1; /* Fully visible */
}

.disappearing-element.fade-out {
  opacity: 0; /* Fully transparent */
  pointer-events: none; /* Prevent interactions */
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Persistent custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px; /* Fixed width to prevent shifting */
}

::-webkit-scrollbar-thumb {
  background-color: #343434;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}



[data-slot="inner-wrapper"] {
  /* Your styles here */
  color: #939393 !important;
}


.fade-gradual {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
}

.fade-gradual.hidden {
  opacity: 0;
  visibility: hidden;
}


@keyframes textGradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-text-gradient {
  background: linear-gradient(90deg, #823fca, #ffffff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradientFlow 10s ease infinite;
}