@tailwind base;
@tailwind components;
@tailwind utilities;



.disappearing-element {
  transition: opacity 0.5s ease;
  opacity: 1; /* Fully visible */
}

.disappearing-element.fade-out {
  opacity: 0; /* Fully transparent */
  pointer-events: none; /* Prevent interactions */
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}


[data-slot="inner-wrapper"] {
  /* Your styles here */
  color: #939393 !important;
}


.fade-gradual {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
}

.fade-gradual.hidden {
  opacity: 0;
  visibility: hidden;
}

