@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}



.disappearing-element {
  transition: opacity 0.5s ease;
  opacity: 1; /* Fully visible */
}

.disappearing-element.fade-out {
  opacity: 0; /* Fully transparent */
  pointer-events: none; /* Prevent interactions */
}